@media screen and (max-width: 1000px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 700px) {
    html {
        font-size: 12px;
    }
}

@media screen and (orientation: portrait) {
    .modal-notes,
    .modal-minutes {
        width: 75%;
    }

    .extra h3 {
        margin-left: 1em;
    }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    .logo h1 {
        font-size: 1.5rem;
    }

    .time {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 500px) and (orientation: portrait) {
    html {
        font-size: 10px;
    }

    .logo h1 {
        font-size: 1.5rem;
    }

    .time {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 400px) and (orientation: portrait) {
    html {
        font-size: 8px;
    }

    .logo h1 {
        font-size: 1.5rem;
    }

    .time {
        flex-direction: column;
        text-align: center;
    }
}
