@media screen and (max-width: 1300px) {
    nav {
        padding: 0.5em 5%;
    }

    .batangas {
        height: 30em;
    }
}

@media screen and (max-width: 1100px) {
    .intro h1 {
        font-size: 2.5rem;
    }

    .batangas {
        height: 20em;
    }

    .title {
        height: 8em;
        width: 15em;
    }

    .title h2 {
        font-size: 2.5rem;
    }

    .article {
        padding: 0 0 3em 0;
    }

    .article h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 900px) {
    .going-section {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .faq-section {
        grid-template-columns: 1fr;
    }

    .modal-flex {
        padding: 1.5em;
    }
}

@media screen and (max-width: 800px) and (orientation: portrait) {
    .welcome {
        height: 27em;
    }

    .welcome h2 {
        font-size: 2.5rem;
    }

    .faq-section {
        padding: 1em 10%;
    }

    .rates,
    .rules,
    .notes-section {
        padding: 1em 10%;
    }

    .rules ul {
        grid-template-columns: 1fr;
        gap: 0.5em;
    }

    .notes-container {
        grid-template-columns: 1fr;
    }

    .about {
        flex-direction: column-reverse;
        padding: 10%;
    }

    .about-detail {
        max-width: 100%;
        padding: 0 0 2em 0;
    }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    .plan-section {
        grid-template-columns: 1fr;
    }

    .batangas,
    .rizal,
    .ncr {
        height: 12em;
    }

    .going-section {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 400px) and (orientation: portrait) {
    .intro h1 {
        padding-top: 6em;
        font-size: 1.5rem;
    }

    .batangas,
    .rizal,
    .ncr {
        height: 10em;
    }

    .title {
        height: 5em;
        width: 10em;
    }

    .title h2 {
        font-size: 1.25rem;
    }

    .article h1 {
        font-size: 1.5rem;
    }

    .going-section {
        grid-template-columns: 1fr;
    }

    .going-section p {
        margin: 0.1em;
    }

    .faq h4 {
        font-size: 1.25rem;
    }

    .welcome {
        height: 25em;
    }

    .welcome h1 {
        font-size: 1rem;
    }

    .welcome h2 {
        font-size: 1.75rem;
    }

    .rates h2,
    .rules h2,
    .notes-section h2 {
        font-size: 1.5rem;
    }
}