* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #272946;
    --blackOp: rgba(39, 41, 70, 0.8);
    --mid: #eda031;
    --white: #e7ffee;
    --mainFont: "Oswald", sans-serif;
    --secFont: "Quicksand", sans-serif;
}

html {
    font-family: var(--secFont);
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    padding: 0 10%;
    background-color: var(--mid);
    border-bottom: 0.2rem solid var(--black);
}

.logo a {
    font-family: var(--mainFont);
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--black);
}

.intro h1,
.going-article h1,
.faq-article h1,
.rates h2,
.rules h2,
.pricing-section h2,
.notes-section h2 {
    font-family: var(--mainFont);
    font-size: 2.25rem;
    color: var(--black);
    padding: 0.5em 0;
    text-align: center;
}

.plan-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    width: 100%;
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    border: 0.2rem solid var(--black);
    cursor: pointer;
    background-size: cover;
    background-position: center;
    height: 30vh;
    width: 100%;
}

.plan:hover .title {
    background-color: var(--black);
    color: var(--mid);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--mid);
    color: var(--black);
    padding: 1em;
    width: 50%;
    border-top: 0.2rem solid var(--black);
    border-right: 0.2rem solid var(--black);
    transition: 0.1s all ease-in;
}

.title h2 {
    font-family: var(--mainFont);
    font-size: 2rem;
}

.intro,
.going-article,
.faq-article,
.rates,
.rules,
.pricing-section,
.notes-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15% 3rem 15%;
    width: 100%;
}

.going-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5em;
    padding: 0 10%;
    text-align: center;
}

.going-section p {
    padding: 1em;
    background-color: var(--black);
    color: var(--mid);
}

.faq-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.faq {
    background-color: var(--mid);
    color: var(--black);
    padding: 2em;
    border: 0.2rem solid var(--black);
}

.faq h4 {
    font-family: var(--mainFont);
    font-size: 1.5rem;  
    text-align: center;
}   

footer {
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    font-family: var(--secFont);
    padding: 1em 10%;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--white);
    text-align: center;
    padding: 3em 0;
}

.welcome-rizal {
    background-image: linear-gradient(var(--blackOp), var(--blackOp)), url("assets/images/christina-villas.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.welcome h1 {
    font-size: 1.75rem;
}
    
.welcome h2 {
    font-family: var(--mainFont);
    font-size: 3rem;
}

.links {
    padding: 2em;
}

.links a {
    text-decoration: none;
    background-color: var(--mid);
    color: var(--black);
    padding: 1em;   
    transition: 0.1s all ease-in;
}

.links a:hover {
    color: var(--mid);
    background-color: var(--black);
}

table {
    width: 100%;
    border: 0.2em solid var(--black);
    border-collapse: collapse; 
    overflow-x: scroll;
}

td {
    border: 0.2em solid var(--black);
    border-collapse: collapse; 
    padding: 1em;
    text-align: center;
}

.entrance h3,
.cottages h3,
.pricing-container h3 {
    padding-top: 1em;
    font-family: var(--mainFont);
    font-size: 1.5rem;
}
.entrance table h3,
.cottages table h3,
.pricing-section table h3 {
    padding: 0;
    font-size: 1rem;
    text-align: center;
}

.rules ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
}

.rules ul li {
    list-style-type: none;
    background-color: var(--black);
    color: var(--mid);
    padding: 1em;
}

.notes-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    color: var(--black);
    padding: 2em 0;
}

.note {
    background-color: var(--mid);
    border: 0.2rem solid var(--black);
    padding: 1em;
}

.note h4 {
    font-family: var(--mainFont);
    font-size: 1.5rem;
}